* {
    margin: 0;
    padding: 0;
    font-family: "Anta", sans-serif;
    font-style: normal;g
}

body {
    display: flex;
    background-color: rgb(51, 46, 46);
}

:root {
    --my-white: white;
}

.wrapper {
    display: inline;
    width: 1250px;
}

.wrapper > *{
    padding: 10px;
    margin: 10px;
}

.header {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    height: 120px;
}

header {
    color: var(--my-text);
    outline: auto;
    display: flex;
    justify-content :space-between;
    flex-wrap: wrap;
}

h1 {
    display: inline-block;
    font-size: 48px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--my-white);
}
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: 100;
}
/* navbars and placement reference (https://www.youtube.com/watch?v=R5aRUdM7Iio)*/

.navbar ul {
    list-style: none;
    padding: 20px;
    margin: 20px;
}

.navbar li {
    display: inline-block;
    margin: 0 10px;
}

.about {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.15870098039215685) 0%, rgba(9,9,121,0.1474964985994398) 35%, rgba(0,212,255,0.21192226890756305) 100%);
    margin-top: 20px;
    display: flex;
    left: 5%;
    justify-content: space-between;
}

.vl1 {
    border-right: 6px solid white;
    height: 100px;

}

h2 {
    color: aliceblue;
    font-size: 36px;
    width: 125px;
    padding: 10px;
    margin-left: 5%;
    position: relative;
}   

p {
    color: aliceblue; 
    max-width: 75%;
    width: 1000px;
    height: 120px;
}

.work {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.15870098039215685) 0%, rgba(9,9,121,0.1474964985994398) 35%, rgba(0,212,255,0.21192226890756305) 100%);
    height: 1000px;
    margin-top: 20px;
    display: flex;
    left: 5%;
    justify-content: space-between;
}

h3 {
    color: aliceblue;
    font-size: 36px;
    width: 125px;
    padding: 10px;
    margin-left: 5%;
    position: relative;
}  

.vl2 {
    border-right: 6px solid white;
    height: 750px;
}

.works1 {
    position: relative;
    height: 350px;
    width: 1000px;
    max-width: 75%;
}

.image_main {
    height: 350px;
    width: 750px;
}

.footer {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    height: 120px;
    outline: auto;
}

