* {
    margin: 0;
    padding: 0;
}

:root {
    --my-red: red;
    --my-text: black;
    --my-white: white;
}

body {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper-main {
    width: 1500px;
    margin: auto;
}

header {
    padding: 20px;
    background: linear-gradient(90deg, rgba(180,80,58,1) 0%, rgba(65,58,58,0.9220063025210083) 58%, rgba(69,156,252,1) 100%);
    color: var(--my-text);
    outline: auto;
    display: flex;
    justify-content :space-between;
    align-items: center;
    position: relative;
}

h1 {
    display: flex;
    font-size: 48px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--my-white);
}
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: 100;
}
/* navbars and placement reference (https://www.youtube.com/watch?v=R5aRUdM7Iio)*/

.navbar ul {
    list-style: none;
    padding: 20px;
    margin: 20px;
}

.navbar li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: rgb(210, 34, 25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* postioning and spacing needed review*/

.section {
    margin: auto;
}

h2 {
    padding: 20px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    color: white; 
    position: relative;
    display: inline-flex;
    height: 85px; 
}

.wrapper-content {
    top: 40px;
    margin-left: 350px;
    position: relative;
    width: 1000px;
    display: flex;
}

/* https://www.w3schools.com/howto/howto_css_vertical_line.asp */

.vl::after {
    content:" ";
    display: block;
    margin: auto 50px;
    width: 6px;
    height: 150px;
    background: var(--my-white);
}

.vl {
    position: absolute;
}

p {
    color: var(--my-white);
    position: absolute;
    display: flex;
}

h3 {
    padding: 20px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    color: white; 
    position: absolute;
    display: inline-flex;
    height: 85px;
}

.vl2::after {
    content:" ";
    display: block;
    margin: auto 50px;
    width: 6px;
    height: 150px;
    background: var(--my-white);
}

.vl2 {
    position: absolute;
}

h4 {
    padding: 20px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    color: white; 
    position: absolute;
    display: inline-flex;
    height: 85px;
}

.vl3::after {
    content:" ";
    display: block;
    margin: auto 50px;
    width: 6px;
    height: 150px;
    background: var(--my-white);
}

.vl3 {
    position: absolute;
}






