
body {
  max-width: fit-content;
  max-height: fit-content;
  position: inherit;
  align-items: center;
  background: #777777;
}
.header {
  display: inline-flex;
  position: inherit;
  left: 0px;
  top: 0px;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(94, 147, 76, 1) 30.000001192092896%,
    rgba(124, 197, 99, 1) 82.4999988079071%
  );
  border-radius: 20px;
  width: 100%;
  max-height: fit-content;
  min-width: fit-content;
}
.seth-jackson {
  margin: 20px;
  color: #000000;
  text-align: left;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: underline white;
  position: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  text-decoration-skip-ink: none; 
  padding-bottom: 3px;
}  
nav {
    margin: 40px 20px;
    margin-left: auto;
    justify-content: center;
}
button {
    background: none;
    border-radius: 20px;
    border: #7f7f7f;
}
.about-button,
.work-button,
.contact-me-button,
.resume-button {
  color: #ffffff;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  display: inline-flex;
  flex-flow: row;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: underline black;
  text-decoration-skip-ink: none; 
  padding-bottom: 3px;
}
/* .work-button {
  color: #ffffff;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration: underline;
}
.contact-me-button {
  color: #ffffff;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration: underline;
}
.resume-button {
  color: #ffffff;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration: underline;
} */
.sub-header {
  width: 100%;
  height: 169px;
  position: inherit;
  background-image: url("./images/Sub_Head_Img.jpeg");
  background-size: cover; /* Cover the entire div with the image */
  background-position: center;
  border-radius: 20px;
}
img {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  position: relative; 
  top: -7.5px;
}

/* .sub_header_img {
  width: 100%;
  height: 169px;
  position: inherit;
} */
p {
  margin: 10px;
  padding: 10px;
  color: #ffffff;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  position: inherit;
  right: 20px;
  justify-content: end;
}
main {
  display: flex;
  position: inherit;
  flex-direction: column;
  align-items: center;
}
.about-me-container,
.work-container,
.contact-container {
  margin-left: 50px;
}
.about-me {
  display: flex;
  position: inherit;
  height: fit-content;
  width: fit-content;
  justify-content: space-between;
}
.about-me-header {
  margin: 20px;
  height: fit-content;
  min-width: fit-content;
  color: #ffffff;
  text-align: center;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  display: flex;
  position: inherit;
}
.top-line {
  margin: 20px;
  border-radius: 0px;
  display: flex;
  position: inherit;
  /* left: 189px;
  top: 0px; */
  transform: translate(-2.5px, 0px);
  overflow: visible;
  height: auto;
}
.about-me-container {
  background: linear-gradient(
    90deg,
    rgba(152, 152, 152, 1) 0%,
    rgba(176, 176, 176, 1) 49.50000047683716%,
    rgba(119, 119, 119, 1) 100%
  );
  border-radius: 20px;
  display: flex;
  position: inherit;
  justify-content: center;
}
.about-text {
  margin: 25px;
  color: #ffffff;
  text-align: justify;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  position: inherit;
  justify-content: center;
}
.work {
  margin: 20px;
  display: flex;
  position: inherit;
  height: fit-content;
  width: fit-content;
  justify-content: space-between;
}
.work-header {
  margin: 20px;
  height: fit-content;
  min-width: fit-content;
  color: #ffffff;
  text-align: center;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  display: flex;
  position: inherit;
}
.mid-line {
  margin: 20px;
  border-radius: 0px;
  display: flex;
  position: inherit;
  /* left: 189px;
  top: 0px; */
  transform: translate(-2.5px, 0px);
  overflow: visible;
  height: auto;
}
.work-container {
  background: linear-gradient(
    90deg,
    rgba(152, 152, 152, 1) 0%,
    rgba(176, 176, 176, 1) 49.50000047683716%,
    rgba(119, 119, 119, 1) 100%
  );
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  position: inherit;
  justify-content: space-between;
}
.contact-me {
  display: flex;
  position: inherit;
  height: fit-content;
  width: fit-content;
  justify-content: space-between;
}
.contact-container {
  background: linear-gradient(
    90deg,
    rgba(152, 152, 152, 1) 0%,
    rgba(176, 176, 176, 1) 49.50000047683716%,
    rgba(119, 119, 119, 1) 100%
  );
  border-radius: 20px;
  display: flex;
  position: inherit;
  justify-content: center;
}
.contact-me-header {
  color: #ffffff;
  text-align: center;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  display: flex;
  position: inherit;
  left: 0px;
  top: 1081px;
}
.bottom-line {
  border-radius: 0px;
  width: 198px;
  height: 0px;
  display: flex;
  position: inherit;
  left: 189px;
  top: 1061px;
  transform: translate(-2.5px, 0px);
  overflow: visible;
}
.groove-guide {
  border-radius: 20px;
  width: 850px;
  height: 350px;
  display: flex;
  position: inherit;
  left: 100px;
  top: 26px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
.weather-dashboard {
  border-radius: 20px;
  width: 400px;
  height: 150px;
  display: flex;
  position: inherit;
  left: 100px;
  top: 596px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
.semantic-html {
  border-radius: 20px;
  width: 400px;
  height: 150px;
  display: flex;
  position: inherit;
  left: 553px;
  top: 596px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
.weather-label {
  background: #888888;
  border-radius: 0px 10px 10px 0px;
  width: 111px;
  height: 37px;
  display: flex;
  position: inherit;
  left: 100px;
  top: 694px;
}
.weather-text {
  color: #ffffff;
  text-align: center;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  position: inherit;
  left: 124px;
  top: 692px;
}
.sem-label {
  background: #7f7f7f;
  border-radius: 0px 10px 10px 0px;
  width: 111px;
  height: 38.82px;
  display: flex;
  position: inherit;
  left: 553px;
  top: 694.05px;
}
.sem-text {
  color: #ffffff;
  text-align: center;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  position: inherit;
  left: 573px;
  top: 693px;
  width: 71px;
  height: 38px;
}
.quiz-container {
  border-radius: 20px;
  width: 400px;
  height: 150px;
  display: flex;
  position: inherit;
  left: 550px;
  top: 411px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
.quiz-label {
  background: #777777;
  border-radius: 0px 10px 10px 0px;
  width: 111px;
  height: 37px;
  display: flex;
  position: inherit;
  left: 550px;
  top: 508px;
}
.coding-quiz {
  color: #ffffff;
  text-align: center;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  position: inherit;
  left: 573px;
  top: 517px;
}
.password-container {
  border-radius: 20px;
  width: 400px;
  height: 150px;
  display: flex;
  position: inherit;
  left: 100px;
  top: 412px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
.password-label {
  background: #989898;
  border-radius: 0px 10px 10px 0px;
  width: 111px;
  height: 37px;
  display: flex;
  position: inherit;
  left: 100px;
  top: 508px;
}
.password-text {
  color: #ffffff;
  text-align: center;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  position: inherit;
  left: 129px;
  top: 505px;
}
.footer {
  width: 1050px;
  height: 225px;
  display: flex;
  position: inherit;
  left: 318px;
  top: 1453px;
}
.contact-container {
  background: linear-gradient(
    90deg,
    rgba(152, 152, 152, 1) 0%,
    rgba(176, 176, 176, 1) 49.50000047683716%,
    rgba(119, 119, 119, 1) 100%
  );
  border-radius: 20px;
  width: 1050px;
  height: 225px;
  display: flex;
  position: inherit;
  left: 0px;
  top: 0px;
}
.email {
  color: #ffffff;
  text-align: center;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  position: inherit;
  left: 152px;
  top: 53px;
  width: 293px;
  height: 31px;
}
.linked-in {
  color: #ffffff;
  text-align: center;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  position: inherit;
  left: 602px;
  top: 57px;
  width: 293px;
  height: 31px;
}
.insta {
  color: #ffffff;
  text-align: center;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  position: inherit;
  left: 605px;
  top: 139px;
  width: 293px;
  height: 31px;
}
.phone-number {
  color: #ffffff;
  text-align: center;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  position: inherit;
  left: 230px;
  top: 134px;
  width: 137px;
  height: 31px;
}
